.parent{
    -fx-background-color: #fff;
}
.sidebar{
    -fx-background-color: #333645;
}
.btns{
    -fx-background-color: transparent;
}
.btns:hover{
    -fx-background-color: #202332;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #333645;
}

.label {
    -fx-text-fill: #7c8184;
}
.title {
    -fx-text-fill: WHITE;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}